h1{
   text-align: center;
}
.conteiner1{
   border: 2px solid black;
   background-color: blue;
   padding: 20px;
   margin-bottom: 20px;

}
.img1{
   width: 400px;
   height: 200px;
}
.conteiner2{
   border: 2px solid black;
   background-color: blueviolet;
   padding: 20px;
   margin-bottom: 20px;
}
.conteiner3{
   border: 2px solid black;
   background-color: brown;
   padding: 20px;
}